{% extends 'base.html' %}

{% block head %}
<title>Seneca County CAUV Form</title>
{% endblock %}

{% block body %}
<div class="content">
  <div class="form">
    <h1>CAUV Renewal Application Form</h1>
    <div>
      <p>Application Successfully Submitted</p>
    </div>
    <form class="" action="/app_search">
      <input type="submit" name="submit" id="submit" value="Go Back to Search">
    </form>
    <div class="sign_link">
    <a href="/logout">Log Out</a>
    </div>
  </div>
</div>
{% endblock %}
